@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  background-image: url(images/bg-main-mobile.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  width: 375px;
  height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  position: relative;
}

.card-design {
  width: 290px;
}

.back-card {
  position: absolute;
  top: -90px;
  right: -5px;
  z-index: -1;
}

.front-card {
  margin-left: -60px;
}

.front-side {
  position: relative;
}

.front-details {
  position: absolute;
  left: -40px;
  top: 20px;
}

.card-logo {
  width: 60px;
}

.card-display-number {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  width: 290px;
  margin-top: 30px;
}

.name-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 250px;
}

.display-name,
.display-date {
  font-size: 10px;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

.display-name {
  text-transform: uppercase;
}

.back-details {
  position: absolute;
  top: -20px;
  right: 30px;
}

.cvc-back {
  color: hsl(0, 0%, 100%);
  font-size: 12px;
}

.form {
  display: flex;
  height: 360px;
  flex-direction: column;
  gap: 20px;
  margin-top: -20px;
}

.form-name,
.card-number,
.cvc-code,
.card-dates {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-details {
  display: flex;
}

.exp-date {
  display: flex;
  gap: 10px;
}

.exp-date input {
  width: 83px;
}

.cvc-code {
  margin-left: 10px;
}

.cvc-code input {
  width: 150px;
}

input {
  padding: 10px;
  border: 2px solid hsl(270, 3%, 87%);
  border-radius: 6px;
  font-size: 16px;
}

input::placeholder {
  color: hsl(270, 3%, 87%);
}

input:focus {
  outline: none;
  border: 2px solid hsl(279, 6%, 55%);
  border-radius: 6px;
}

.confirm-button {
  border: none;
  height: 50px;
  border-radius: 6px;
  background: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}

p {
  color: hsl(278, 68%, 11%);
  letter-spacing: 2px;
  font-size: 15px;
}

.input-error {
  border: 2px solid hsl(0, 100%, 66%);
}

.error-info {
  font-size: 14px;
  color: hsl(0, 100%, 66%);
  margin-bottom: -10px;
  visibility: hidden;
}

.thank-you {
  display: none;
  height: 360px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: -20px;
}

.complete-icon {
  margin: 20px 0;
  width: 80px;
}

.thanks-title {
  letter-spacing: 4px;
  color: hsl(278, 68%, 11%);
  font-size: 28px;
}

.thanks-description {
  color: hsl(279, 6%, 55%);
  font-size: 18px;
  letter-spacing: 1px;
}

.continue-button {
  border: none;
  height: 50px;
  width: 100%;
  border-radius: 6px;
  background: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 20px;
  cursor: pointer;
}
